* {
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    --bgOpaque: rgba(31, 63, 63, 1);
    --bgTransparent: rgba(0, 0, 0, 0.375);
    --bgSemiTransparent: rgba(0, 0, 0, 0.375);
    --bgH3: rgba(0, 0, 0, 0.3);
    --skyblue: rgba(132, 207, 238, 1);
    --bgItem: rgba(37, 50, 60, 1);
    --bgFolder: rgba(100, 156, 175, 1);
    --fgFolder: rgba(0, 0, 0, 1);
    --bgSubFolder: rgba(75, 105, 115, 1);
    --fgSubFolder: rgba(100, 211, 211, 1);
    --fgIcon: rgba(0, 0, 0, 1);

    --fgBright: rgba(165, 208, 198, 1);
    --fgSelected: rgba(200, 255, 240, 1);
    --fgDim: rgba(165, 208, 198, 0.4);
    --fgOut: rgba(120, 184, 244, 1);
    --fgIn: rgba(255, 255, 255, 1);
    --fgClock: rgba(127, 255, 0, 1);
    --fgStatus: rgba(255, 255, 0, 0.9);
    --fgCity: rgba(0, 0, 255, 1);
    --fgDateIcon: rgba(120, 184, 244, 0.5);

    --slotImageWidth: 18rem;
    --inputWidth: 8rem;
    --chartWidth: 322px;
    --chartWidthHourly: 324px;
    --chartHeight: 60px;
    --chartBarHeight: 28px;

    --dateColor: rgba(240, 155, 90, 1);

    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background: rgb(31, 31, 41);

    scrollbar-color: var(--bgFolder) var(--skyblue);
}

/* fallback */
@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("./symbols.woff2") format("woff2");
}

.material-symbols-outlined,
.symbols,
.symbols-summary,
.symbols-title,
.symbols-status,
.symbols-weather,
.symbols-weather-medium,
.symbols-small,
.symbols-form {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /*-webkit-font-feature-settings: "liga";*/
    -webkit-font-smoothing: antialiased;
}

.symbols {
    color: var(--fgIcon);
    font-size: 2.25rem;
}

.symbols-title,
.symbols-small {
    color: var(--fgIcon);
    margin-right: 0.5rem;
    font-size: 1rem;
}
.symbols-weather-medium,
.symbols-weather {
    font-size: 0.75rem;
    margin-right: 0rem;
    color: var(--fgIcon);
}
.symbols-weather-medium {
    font-size: 0.9rem;
    cursor: pointer;
}
.symbols-title {
    font-size: 1.5rem;
}

.symbols-form {
    color: var(--fgIcon);
    font-size: 1.5rem;
    width: 2rem;
}

.hide {
    display: none;
}

.round {
    border-radius: 0.35rem;
}

.video {
    width: 100%;
}
.sub-header {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    cursor: default;
    background-color: var(--bgSubFolder);
    border-radius: 0.25rem;
    margin-bottom: 0.2rem;
}
.sub-text {
    font-size: 1rem;
    font-weight: bold;
    color: var(--skyblue);
    align-self: center;
}
.folder-header {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    margin-bottom: 0.3rem;
    cursor: default;
    background-color: var(--bgFolder);
    border-radius: 0.25rem;
}
.folder-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--fgFolder);
    align-self: center;
    padding: 0.5rem;
}
.folder-item {
    background-color: var(--bgItem);
    border-radius: 0.25rem;
    margin-bottom: 0.3rem;
}
.folder-spacer-right,
.folder-icon-right,
.folder-icon {
    width: 6rem;
    color: var(--fgIcon);
    text-align: center;
    border-radius: 0.25rem;
}
.folder-icon:hover {
    /*border-right: .2rem solid;*/
    background-color: var(--bgSemiTransparent);
}
.folder-icon-right:hover {
    /*border-left: .2rem solid;*/
    background-color: var(--bgSemiTransparent);
}
.message {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    text-shadow: 0 0 5px black;
}

.clock {
    color: white;
}

.city {
    /*opacity: 0.5;*/
    /*font-size: 2rem;*/
    /*color: var(--fgCity);*/
    color: white;
}

.container {
    display: grid;
    width: 100%;
    grid-template-areas:
        "summary"
        "content"
        "list";
}

.summary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--fgCity);
    background-color: var(--skyblue);
    margin-bottom: 0.5rem;
    width: 100%;
    height: 80px;
    padding: 12px;
    border-radius: 0.25rem;
}
.symbols-summary {
    font-size: 4rem;
}
.summary-icon {
    align-self: center;
    text-align: center;
}
.summary-clock {
    font-size: 1.75rem;
    align-self: left;
}
.summary-temperature {
    font-size: 1.75rem;
    align-self: right;
    text-align: right;
}

.main-content {
    grid-area: content;
    width: 100%;
}
.side-list {
    grid-area: list;
    width: 100%;
}

@media screen and (min-width: 50rem) {
    .container {
        display: grid;
        grid-template-areas:
            "summary content"
            "list content";
        grid-template-columns: minmax(25rem, 30%) minmax(25rem, 70%);
        grid-column-gap: 0.5rem;
        width: 100%;
        overflow-y: auto;
    }
    .summary {
        grid-area: summary;
        padding: 12px;
        margin-bottom: 0.5rem;
    }
    .main-content {
        grid-area: content;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
    }
    .side-list {
        grid-area: list;
        left: 0;
        top: 85px;
        overflow-y: auto;
    }
}
