{{define "main"}}
<!---->
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/static/css/w3.css" />
        <link rel="stylesheet" href="/static/css/home.css" />
        <script src="/static/js/htmx.js"></script>
        <script src="/static/js/ws.js"></script>
        <script src="/static/js/reader.js"></script>
        <script src="/static/home.js"></script>
    </head>
    <body>
        <div class="container">{{template "camera.list" .}}</div>
        <div id="clock" class="clock"></div>
        <script>
            const contentView = document.getElementById("camera-content");
            const listView = document.getElementById("camera-list");
            let windowWidth = window.innerWidth;
            let windowHeight = window.innerHeight;
            startClock();
            reportWindowSize();
            let readers = [];
            window.addEventListener("load", () => {
                {{range $i, $c := .Paths.Items}}
                readers[{{$i}}] =
                  addReader("video-{{$c.Name}}", "{{$c.Name}}", "message-{{$c.Name}}");
                {{end}}
            });

            window.addEventListener("beforeunload", () => {
                console.log("closing readers...");
                for (let reader of readers) {
                    if (reader !== null) {
                        console.log("closing: ", reader.url);
                        reader.close();
                    }
                }
            });

            window.onresize = reportWindowSize;
            function reportWindowSize() {
              windowWidth = window.innerWidth*4/5;
              windowHeight = window.innerHeight;
              console.log(windowWidth, windowHeight);
              console.log(contentView.clientWidth, contentView.clientHeight);
            }
        </script>
    </body>
</html>
{{end}}
<!---->
