{{ define "main.view" }}
<!---->
{{template "current.summary" .Weather}}
<!---->
{{$content:=index .Paths.Items 1}}
<div id="main-content" class="main-content">
    <div id="section-{{$content.Name}}" class="round">
        {{template "folder.header" $content.Name}}
        <!---->
        {{template "camera.video" $content}}
        <!---->
    </div>
</div>

<div id="side-list" class="side-list" style="height: getListHeight()">
    <div id="section-Weather" class="round">{{template "weather" .}}</div>
    <!---->
    {{range $i, $camera := .Paths.Items}}
    <!---->
    {{if (ne $i 1)}}
    <div id="section-{{$camera.Name}}" class="round">
        {{template "folder.header" $camera.Name}}
        <!---->
        {{template "camera.video" $camera}}
        <!---->
    </div>
    {{end}} {{end}}
</div>
<!---->
{{end}}
<!---->

{{ define "camera.video"}}
<!---->
<div id="{{.Name}}-fold" class="folder-item">
    <video
        id="video-{{.Name}}"
        class="video"
        controls
        muted
        autoplay
        playsinline
    ></video>
    <div id="message-{{.Name}}" class="message"></div>
    <!---->
</div>
{{end}}
<!---->
<!---->
{{define "folder.header"}}
<div id="{{.}}-header" class="folder-header">
    <span
        id="{{.}}-icon"
        class="symbols folder-icon"
        hx-on:click="toggle_fold('{{.}}-fold','{{.}}-icon')"
        hx-swap="none"
        >arrow_drop_down</span
    >
    <span class="folder-text">{{.}}</span>
    <span
        class="symbols folder-icon-right"
        hx-on:click="swapContentVideo('section-{{.}}');"
        hx-swap="none"
        >keyboard_arrow_right</span
    >
</div>
{{end}}
<!---->

<!---->
{{define "sub.header"}}
<div id="{{.}}-header" class="sub-header">
    <span
        id="{{.}}-icon"
        class="symbols folder-icon"
        hx-on:click="toggle_fold('{{.}}-fold','{{.}}-icon')"
        hx-swap="none"
        >arrow_drop_down</span
    >
    <!---->
    <span class="sub-text">{{.}}</span>
    <span class="folder-spacer-right"></span>
</div>
{{end}}
<!---->
