{{ define "weather.common" }}
<div class="">
    <div class="weather-label">Latitude</div>
    <div class="weather-label">Longitude</div>
    <div class="weather-label">Timezone</div>
    <div class="weather-label">Elevation</div>
    <div class="weather-data">{{printf "%5.2f" .Latitude}}</div>
    <div class="weather-data">{{printf "%5.2f" .Longitude}}</div>
    <div class="weather-data">{{.Timezone}}</div>
    <div class="weather-data">{{.Elevation}}</div>
</div>
{{ end }}
<!--  -->

{{ define "weather" }}
<!---->
{{template "folder.header" "Weather"}}
<div id="Weather-fold" class="folder-item hide">
    {{template "sub.header" "Hourly Forcast"}}
    <div id="Hourly Forcast-fold" class="folder-item">
        {{template "weather.hourly.detail" .Weather.Location}}
    </div>
    {{template "sub.header" "Daily Forcast"}}
    <div id="Daily Forcast-fold" class="folder-item">
        {{template "weather.daily.detail" .Weather.Location}}
    </div>
 </div>
<!--  -->
{{ end }}
<!---->
{{ define "current.summary" }}
<div id="summary" class="summary" hx-swap-oob="outerHTML">
    {{$w:=.Location.WeatherCurrent}}{{$cur:=$w.Current}}{{$units:=$w.CurrentUnits}}
    <!--  -->
    {{$code:=$w.WeatherCode $cur.Code}}
    <!--  -->
    <div id="clock" class="summary-clock"></div>
    <div class="symbols-summary summary-icon" style="color:{{$code.Color}}">
        {{$code.Icon}}
    </div>
    <div class="summary-temperature">
        {{$cur.Temperature}}{{$units.Temperature}}
        <!--<span> {{$cur.Precipitation}} {{$units.Precipitation}} </span>-->
    </div>
    <script>
        startClock();
    </script>
</div>
{{ end }}
<!--  -->
{{ define "location.weather" }}
<!--  -->
{{ end }}
